@import "../styles/variables.css";

.cart {
    border: none;
    position: relative;
    display: inline-block;
}

.cart-sum {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background-color: var(--orange-500);
    color: var(--white);
    font-size: .5rem;
    border-radius: 25%;
    padding: 0 .5rem;
}